*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Segoe UI", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica;
    font-weight: bold;
}

/*header*/

#navbar-pinterest{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 4px 16px;
    height: 80px;
    background-color: white;
    top: 0;
    gap: 1rem;
    z-index: 1;
}
.menu{
    display: flex;
    align-items: center;
}
.menu li{
    list-style: none;
    margin: 10px;
}

.button-nav{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
    color: black;
}
.search {
    flex-grow: 1;
    height: 48px;
    background-color: #E9E9E9;
    border-radius: 30px;
}

.search:hover {
    background-color: #E1E1E1;
}
.search:focus-within {
    border: 4px solid #7FC1FF;
    
}
.barra {
    display: flex;
    align-items: center;
    height: 48px;
}
.lupa {
    margin: 0 5px;
}
.finder {
    border: none;
    outline: none;
    background-color: inherit;
    padding: 0px 0px 0px 15px;
    font-size: 16px;
    flex-grow: 1;
}
.finder:hover .lupa {
    display: none;
}
.icon-nav{
    width: 15%;
    gap: 1rem;
}
.imgNavP{
    width: 50px;
    border-radius: 100%;
    background-color: white;
    align-self: center;    
}
.imgNav{
    width: 20%;
    border-radius: 100%;
    background-color: white;
    align-self: center;    
}

/*main*/

#content{   
    margin-top: 80px;
    padding: 0 50px;
    gap: 1rem;
}
.image{
    columns: 5 200px;
    margin: auto;
}
.card-image {
    position: relative;
    padding: 6px;
    width: fit-content;
}
.img{
    border-radius: 8%;
    min-width: 240px;
    max-width: 240px;
}
.card-image:hover > :first-child {
    filter: brightness(60%);
}

.card-image:hover > * {
    visibility: visible;
    display: inline;
}

.button {
    position: absolute;
    left: 60%;
    top: 5%; 
    background-color: #e60023;  
    padding: 13px 15px; 
    border-radius: 30px;
    border: none;
    visibility: hidden;
    display: none;
}

.button a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: "Segoe UI", "Fira Sans", "Droid Sans", ;
}
.oculto-1 {
    position: absolute;
    left: 65%;
    bottom: 8%;
    background-color: #F0F0F0;
    border-radius: 100%;
    visibility: hidden;
    height: 35px;
    width: 35px;
    text-align: center;
}

.oculto-2 {
    position: absolute;
    left: 80%;
    bottom: 8%;
    background-color: #F0F0F0;
    border-radius: 100%;
    visibility: hidden;
    height: 35px;
    width: 35px;
    text-align: center;
}

.svg{
    width: 20px;
    margin-top: 5px;
}

@media screen and (max-width: 1360px) {
    #content{
        column-count: 4;
    }
}

@media screen and (max-width: 1124px) { 
    #content {
        columns:3;
    }

}

@media screen and (max-width: 850px) {
    #content {
        columns: 2;
    }
}

@media screen and (max-width: 610px) {
    #content {
        columns: 1;
    }
}